<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="icon" href="{{url_for('static', filename='favicon/favicon.ico')}}">
    <title>Document</title>
</head>
<body>
    <h1>図書管理</h1>
    <p>cssを読み込み</p>
    <img src="{{url_for('static', filename='images/1.jpg')}}">
    <button id="alertButton">クリック</button>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>