<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='#')}}">
    <link rel="icon" href="{{url_for('static', filename='favicon/favicon.ico')}}">
    <title>Document</title>
</head>
<body>
    <h1>図書削除画面</h1>
    <h3>削除する本のIDを入力してください。</h3>
    <form action="{{url_for('book_delete')}}" method="post">
        ID:<input type="text" name="id"><br>
        <button type="submit">削除</button>
        </form>
        <a href="{{ url_for('mypage') }}" class="button">戻る</a>
</body>
</html>